.required:after {
  content: " *";
  color: red;
}

.unit {
  margin-top: -15%;
}

.button, .total {
  text-align: right;
}

.text {
  font-weight: bold;
}

.subtotal {
  margin-left: -9%;
  margin-right: 3%;
}

.add-item {
  margin-top: -30%;
}

.product {
  margin-top: -20px;
}